# Dipendenze di Node 
node_modules/

# File di sistema del Mac 
.DS_Store

# File di log degli errori
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File con variabili d'ambiente e password (per sicurezza)
.env



dist/ # Cartella di distribuzione (build) del progetto
